@model WebHoly.ViewModels.HolySubscriptionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = ViewBag.error;

}
@if (!string.IsNullOrEmpty(error))
{
    @error
}
<link href="~/css/Paymentcss.css" rel="stylesheet" />

<h1>הרשמה למשתמשי בית כנסת</h1>
<hr />

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-6">
                <div class="card p-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div><div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div><div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Community" class="control-label"></label>
                        <input asp-for="Community" class="form-control" />
                        <span asp-validation-for="Community" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-6">
                <div class="card p-3">
                    <p class="mb-0 fw-bold h4">שיטות לתשלום</p>
                </div>
            </div>
            <div class="col-12">
                <div class="card p-3">
                    <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                        <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                        <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                    </ul>
                    <div class="card-body border p-0">

                        <div id="credit-card" class="tab-pane fade show active pt-3">

                            <div class="row">
                                <div class="col-8">
                                    <p class="h4 mb-0">סיכום</p>
                                    <p class="mb-0"><span class="fw-bold"></span><span class="c-green">: מנוי חודשי לבתי כנסת</span></p>
                                    <p class="mb-0"><span class="fw-bold">מחיר:</span><span class="c-green">: שקלים חדשים</span></p>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-12">

                                            <label asp-for="Last4Digits" class="control-label"></label>
                                            <input asp-for="Last4Digits" class="form-control" />
                                            <span asp-validation-for="Last4Digits" class="text-danger"></span>
                                        </div>
                                        <div class="col-6">
                                            <div class="form__div"> <input type="text" class="form-control" placeholder=" "> <label for="" class="form__label">MM / yy</label> </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form__div"> <input type="password" class="form-control" placeholder=" "> <label for="" class="form__label">cvv קוד</label> </div>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="IdentityNumber" class="control-label"></label>
                                            <input asp-for="IdentityNumber" class="form-control" />
                                            <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border p-0">
                        <div id="paypal" class="tab-pane fade pt-3">
                            <h6 class="pb-2">Select your paypal account type</h6>
                            <div class="row">
                                <div class="col-lg-5 mb-lg-0 mb-3">
                                    <p class="h4 mb-0">סיכום</p>
                                    <p class="mb-0"><span class="fw-bold"></span><span class="c-green"> מנוי חודשי לבתי כנסת</span></p>
                                    <p class="mb-0"><span class="fw-bold">מחיר:</span><span class="c-green">199 שקלים חדשים</span></p>
                                </div>
                                <form method="post" asp-controller="HolySubscriptions" asp-action="PayPalPayment">
                                <input type="hidden" name="total" value="199" />
                                <input type="submit" name="checkout" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<button type="submit" class="btn btn-primary">הירשם</button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        background: #f5f5f5
    }

    .rounded {
        border-radius: 1rem
    }

    .nav-pills .nav-link {
        color: #555
    }

        .nav-pills .nav-link.active {
            color: white
        }

    input[type="radio"] {
        margin-right: 5px
    }

    .bold {
        font-weight: bold
    }
</style>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>